<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common-cookies" class="container">
    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-bg="rgb(135, 155, 170)"
            data-fg="#FFFFFF"
            data-message="Używamy plików cookies, aby ułatwić Państwu korzystanie z naszego serwisu oraz do celów statystycznych. Jeśli nie blokują Państwo tych plików, to zgadzają się Państwo na ich użycie oraz zapisanie w pamięci urządzenia. Zmieniając ustawienia przeglądarki można samodzielnie zarządzać plikami cookies. Więcej informacji w naszej polityce prywatności."
            data-divlink="rgb(135, 155, 170)"
            data-divlinkbg="#FFFFFF"
            data-link="#F1D600"
            data-cookie="CookieInfoScript"
            data-text-align="left"
            data-linkmsg="Dowiedz się więcej"
            data-moreinfo="http://www.siemens.pl/pl/polityka_prywatnosci.htm"
            data-close-text="OK">
    </script>
</div>
</body>
</html>
