<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common-footer" class="container">

    <footer class="footer">
        <div class="col-xs-12 footer-links">
            <a class="A3 hidden-xs hidden-sm hidden-md" href="http://www.siemens.pl/" title="Siemens Polska" target="_blank" rel="noopener">Siemens Polska</a>
            <span class="P3">@ Siemens Sp. z o.o., 1996 – 2017</span>

            <a class="A3" href="http://www.siemens.pl/pl/informacje_firmowe.htm" target="_blank" rel="noopener">Informacje firmowe</a>

            <a class="A3" href="http://www.siemens.pl/pl/polityka_prywatnosci.htm" target="_blank" rel="noopener">Polityka prywatności</a>

            <a class="A3" href="http://www.siemens.pl/pl/warunki_uzytkowania.htm" target="_blank" rel="noopener">Warunki użytkowania</a>

        </div>
    </footer>
</div>
</body>
</html>
