<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common-footer" class="container">
    <footer class="footer">
        <div class="col-xs-12 footer-links">
            <a class="A3 hidden-xs hidden-sm hidden-md" th:href="#{footer.companySite.url}" title="Siemens Polska" target="_blank" th:text="#{footer.companyName.text}" rel="noopener"></a>
            <span class="P3" th:text="#{footer.companyFooterInfo.text}"></span>
            <a class="A3" th:href="#{footer.companyInfo.url}" th:text="#{footer.companyInfo.text}"></a>
            <a class="A3" th:href="#{footer.privacyPolicy.url}" th:text="#{footer.privacyPolicy.text}" target="_blank" rel="noopener"></a>
            <a class="A3" th:href="#{footer.useCondition.url}" th:text="#{footer.useCondition.text}" target="_blank" rel="noopener"></a>
        </div>
    </footer>
</div>
</body>
</html>
