<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="common-navbar" class="container">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.siemens.com/pl/pl/home.html"><img src="/images/siemensLogo.png" alt="Siemens"/>
                </a>
            </div>

            <div id="navbar1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li ><a href="/" th:text="#{navbar.homepage}"></a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:text="#{navbar.menu}"><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:text="#{menu.choose}"></a></li>
                            <li><a th:href="#{url.navigator}" th:text="#{menu.navigator}"></a></li>
                            <li><a th:href="#{url.cwp}" th:text="#{menu.cwp}"></a></li>
                            <li><a th:href="#{url.osticket}" th:text="#{menu.osTicket}"></a></li>
                            <li><a href="/login" th:text="#{menu.calender}"></a></li>
                            <li><a href="/panel" th:text="#{menu.adminPanel}"></a></li>

                        </ul>
                    </li>
                    <li><a href="/map" th:text="#{navbar.our.projects}"></a></li>
                    <li><a href="/about" th:text="#{navbar.about}"></a></li>
                    <li><a href="/contact" th:text="#{navbar.contact}"></a></li>




                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

</div>

</body>
</html>
