<!DOCTYPE html >

<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<div th:replace="common/navbar :: common-navbar"/>


<script
        th:src="@{/webjars/moment/2.19.4/moment.js}"
        type="text/javascript"></script>

<script
        th:src="@{/webjars/jquery/3.2.1/dist/jquery.js}" type="text/javascript"></script>


<script th:src="@{/webjars/fullcalendar/3.7.0/dist/fullcalendar.js}"
        type="text/javascript"></script>



<script th:src="@{/webjars/fullcalendar/3.7.0/dist/locale/pl.js}"></script>

<script th:src="@{/webjars/fullcalendar/3.7.0/dist/gcal.min.js}"
        type="text/javascript"></script>

<link th:href="@{/webjars/fullcalendar/3.7.0/dist/fullcalendar.css}"
      rel="stylesheet"/>


<script type='text/javascript' src="/js/calendar.js"></script>


<body>


<div id='calendar'></div>


<div th:replace="common/footer :: common-footer"/>
</body>

</html>
