<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="common/header :: common-header"/>
<div th:replace="common/navbar :: common-navbar"/>


<body>
<div id='jumbotrone-wrapper'>
    <div className="jumbotron jumbotron-top jumbotron-fluid">
        <div className="container">
            <div className="row">
                <div id='jumbo-siemens-frame-big' className='col-xs-11 col-md-9 col-lg-7 '>
                   <a th:href="#{index.btSite}" th:text="#{index.division.name}"></a>
                </div>
            </div>
            <div className="row">
                <div id='jumbo-siemens-frame-small' className='col-xs-11 col-md-9 col-lg-7' th:text="#{index.our.name}">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="systems-wrapper">
    <div class="container">
        <div id="systems-info">
            <h3 class="header section" th:text="#{index.system.chooser}"/>
            <div class="systems">
                <div class="system">
                    <a  th:href="#{url.navigator}"> <img class="system-img" th:src="#{index.system.one.image}"/></a>

                    </div>
                <div class="system">
                    <a  th:href="#{url.cwp}">  <img class="system-img" th:src="#{index.system.two.image}"/></a>

                    </div>
                <div class="system">
                    <a th:href="#{url.osticket}"><img class="system-img" th:src="#{index.system.three.image}"/></a>

                    </div>
                <div class="system">
                    <a href="/login"><img class="system-img" th:src="#{index.system.four.image}"/></a>
                     </div>
            </div>
        </div>

    </div>

</div>
<div id="video-info">
    <h3 class="video-header-section" th:text="#{index.video.description}"/>

<div class="embed-responsive embed-responsive-16by9" >
    <iframe class="embed-responsive-item"  th:src="#{homepage.video}"></iframe>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/footer :: common-footer"/>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>
