<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>
<div th:replace="common/navbar :: common-navbar"></div>
<style>
    #map {
        height: 75%;
    }
     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<script src="/js/map.js"></script>
<body>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALBuUkoeYIwx_h1UhC_AqQMZvdKDU8dXM&amp;callback=initMap"
        async="async" defer="defer"></script>
<div id="facts-wrapper">
    <div class="container">
        <div id="facts-info">
            <h3 class="header section" th:text="#{map.asc.statistics}"></h3>
            <div class="fakty">
                <div class="fakt">
                    <p class="lead" th:text="#{map.management.info}"></p>
                    <p class="map-info" th:text="#{map.management.counter}"></p>
                </div>
                <div class="fakt">
                    <p class="lead" th:text="#{map.fact.one.info}"></p>
                    <p class="map-info" th:text="#{map.fact.one.info.counter}"></p>
                </div>
                <div class="fakt">
                    <p class="lead" th:text="#{map.savings.info}"></p>
                    <p class="map-info" th:text="#{map.savings.counter}"></p>
                </div>
                <div class="fakt">
                    <p class="lead" th:text="#{map.fact.two.info}"></p>
                    <p class="map-info" th:text="#{map.fact.two.counter}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/cookies :: common-cookies"></div>
<div th:replace="common/footer :: common-footer"></div>
<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
