<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>
<div th:replace="common/navbar :: common-navbar"></div>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6"></div>
<div id="my-slider" class="carousel slider" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#my-slider" data-slide-to="0"></li>
        <li data-target="#my-slider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/images/savings.JPG" alt="savings" class="img-responsive center-block"/>
            <p>Modernizacja w formule Performace Contracting gwarantuje zmniejszenie zużycia energii bez lub z niewielkimi kosztami inwestycyjnymi Znaczące efekty energetyczne mogą być osiągnięte przez częściowe lub kompleksowe modernizacje infrastruktury budynków. Koszty modernizacji mogą być amortyzowane z oszczędności, mogą Państwo odrazu korzystać z racjonalnego wykorzystania energii bez lub z niewielkimi nakładami początkowymi.</p>
        </div>
        <div class="item" >
            <img src="/images/investment_process.JPG" alt="investment_process" class="img-responsive center-block"/>
            <p><br> Działając wspólnie z Państwem wypracujemy wyczerpujący plan dopasowany do Państwa technicznych i strategicznych celów, nastawiony na oszczędne zużycie energii i uwzględniający aspekty ochrony środowiska.</br>
                • przedstawienie analizy wstępnej w celu określenia aktualnego zużycia energii i zidentyfikowania obszarów o maksymalnym potencjale uzyskania oszczędności
               <br> • sporządzenie szczegółowej analizy energetycznej w celu określenia listy zadań modernizacyjnych i zmian, które spełniając uzgodnione kryteria inwestycyjne dadzą najlepsze efekty w zakresie poprawy parametrów budynków</br>
                • dostarczenie i zainstalowanie nowych urządzeń oraz wprowadzenie udoskonaleń i usprawnień
                <br>• regularne monitorowanie obiektów w okresie kontraktu oraz weryfikacja wyników w celu zmaksymalizowania oszczędności energii.</br></p>
        </div>
    </div>
    <a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>
</div>
<div id="video-info">
    <h3 class="video-header-section" th:text="#{index.video.description}"></h3>
    <div class="embed-responsive embed-responsive-16by9" >
        <iframe class="embed-responsive-item"  th:src="#{homepage.video}"></iframe>
    </div>
</div>
<div th:replace="common/header :: before-body-scripts"></div>
<div th:replace="common/footer :: common-footer"></div>
<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
